@{
    ViewData["Title"] = "Home Page";
}
<div class="book-container">
    @{
        for(int i =0; i< 9; i ++)
        {
            <partial name="Book/_Book"></partial>
        }
    }
    
</div>
