@*@model Book
@{
    
}*@

<div class="book-preview">
    <a asp-controller="Home" asp-action="Privacy">
        <div class="book-img-container">
            <img class="book-img-preview" src="~/images/book/8935244872453.jpg" />
            <div class="book-sale-preview">30%</div>
        </div>
    </a>
    <div class="book-detail-preview">
        <div class="book-name-preview">
            Komi - Nữ thần sợ giao tiếp
        </div>
        <div class="book-price-container">
            <div class="book-price-preview">
                90.000
            </div>
            <div class="book-price-unit-preview">
                đ
            </div>
        </div>
        <div class="book-button-container">
            <button class="book-cart-button-preview">Add To Cart</button>
            <button class="book-buy-button-preview">Buy</button>
        </div>
    </div>
</div>
